<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AES CBC</title>
</head>
<body>
    <h1>AES-CBC Bit Flipping</h1>
    <h3>Original Values</h3>
    <p><strong> - Original Text:</strong> {{ original_text }}</p>
    <p><strong> - Original IV:</strong> {{ original_iv }}</p>
    <p><strong> - Original Encrypted Text:</strong> {{ original_encrypted_text }}</p>

    <h3>Modified Values</h3>
    <p><strong> - Modified IV:</strong> {{ modified_iv }}</p>
    <p><strong>Decrypted Text:</strong> {{ decrypted_text }}</p>
</body>
</html>
